<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <h1>Pozdravljeni v pretvorniku milj in kilometrov.</h1>
    <br>

    <form method="post" action="/">
        <input name="stevilo">
        <select name="enota">
            <option value="milje">mlj</option>
            <option value="kilometri">km</option>
        </select>
        <button type="submit">Pretvori</button>

    </form>


</body>
</html>